
.part-container
{
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    min-width: 1200px;
    min-height: 40px;
}
.match-date
{
    font-family: Inter;
    font-weight: 700;
    font-size: 32px;
    line-height: 36px;
    letter-spacing: -2%;
}