@import "../../../styles/palete.scss";

.article-redirect-button
{
    border: none;
    border-top: 1px solid $base-lightgray-color;
    border-bottom: 1px solid $base-lightgray-color;
    background-color: $base-white-color;
    height: 66px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.news-list-component
{
    max-width: 94%;
    min-width: 94%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.news-panel-outer-container
{
    display: flex;
    justify-content: center;
    max-width: 100%;
}
.load-more-button
{
    border: none;
    border-top: 1px solid $base-lightgray-color;
    border-bottom: 1px solid $base-lightgray-color;
    background-color: $base-lightgray-color;
    height: 36px;
    width: 100%;
    text-align: center;
    font-family: Inter;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0%;
    
}
.news-line
{
    justify-content: start;
    max-width: 100%;
    min-width: 100%;
    display: flex;
    
}
.load-more-container
{
    max-width: 100%;
    min-width: 100%;
    display: flex;
}
.title
{
    font-family: Inter;
    font-weight: 700;
    font-size: 32px;
    line-height: 36px;
    letter-spacing: -2%;
}
.title-text
{
    font-family: Roboto;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
}
.timestamp-text
{
    font-family: Roboto;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 0%;
    color: $base-gray-color;
}
.sport-name-text
{
    font-family: Roboto;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 0%;
}
.basketball-name-text
{
    @extend .sport-name-text;
    color: #BA3F03;
}
.hokkey-name-text
{
    @extend .sport-name-text;
    color: #2160C8;
}
.football-name-text
{
    @extend .sport-name-text;
    color: #6A8541;
}
.tennis-name-text
{
    @extend .sport-name-text;
    color: #A99D1A;
}
.f1-name-text
{
    @extend .sport-name-text;
    color: #6C8C9F;
}
.nfl-name-text
{
    @extend .sport-name-text;
    color: #212121;
}
.dot-text
{
    @extend .sport-name-text;
    color: #BA3F03;
    margin: 2px;
}