
<div id="outer-container">
    <div id="inner-container">
        <div id="contacts-bar">
            <div id="logo"><img src="sportcast logo.svg"></div>
            <div id="text">
                <div id="upper-text">Социальные сети:
                    <div id="links">
                        <a href="vk.com" class="underlined-white-text">Вконтакте</a>
                        <a href="web.telegram.org" class="underlined-white-text">Telegram</a>
                        <a href="youtoube.com" class="underlined-white-text">Youtube</a>
                    </div>
                </div>
                <div id="lower-text">По вопросам сотрудничества: <a class="underlined-white-text">kuzmi4yow1994&#64;mail.ru</a></div>
            </div>
        </div>
    </div>
</div>