@import "../../../styles/common-containers.scss";
.article-container
{
    width: 63%;
}
.other-news-component-container
{
    width: 27%;
}
.inner-container
{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}