
<div [style.z-index]="this.isOverlayEnabled ? 20 : -1" id="overlay-player-container" (click)="onPlayerFadeout()">
    <div id="player-container" [style.z-index]="this.isOverlayEnabled ? 21 : -1" [(innerHtml)]="this.currentVideoFrame"></div></div>

<app-header></app-header>
<div class="outer-container">
    <div class="inner-container">
        <app-replays-container [SportType]="this.matchTypeId" (VideoShowed)="onVideoShow($event)"></app-replays-container>
    </div>
</div>
<app-footer></app-footer>