<div id="outer-container">
    <div id="inner-container">
        <div id="navigation-bar">
            <div id="link-buttons">
                <button id="1" class="link-button" (click)="onNavigationClick($event)">Домашняя страница</button>
                <button id="2" class="link-button" (click)="onNavigationClick($event)">Команды</button>
                <button id="3" class="link-button" (click)="onNavigationClick($event)">Матчи</button>
                <button id="4" class="link-button" (click)="onNavigationClick($event)">Комментарии</button>
                <button id="5" class="link-button" (click)="onNavigationClick($event)">Комментаторы</button>
                <button id="6" class="link-button" (click)="onNavigationClick($event)">Блоги</button>
            </div>
        </div>
    </div>
</div>