@import "../../../styles/palete.scss";
#video-tab-outer-container
{
    max-height: 458px;
    max-width: 1200px;
    margin-left: 40px;
    margin-top: 32px;
    border-top: 1px solid $base-lightgray-color;
    border-bottom: 1px solid $base-lightgray-color;
    justify-content: center;
}
.partition-title
{
    margin-top: 12px;
    color: $base-black-color;
    justify-content: space-between;
    display: flex;
}
.partition-label
{
    padding-bottom: 32px;
    font-size: 32px;
}
.tab-content-container
{
    min-height: 290px;
    max-width: 1194px;
    min-width: 1194px;
    display: flex;
    justify-content: space-between;
}
#tabs-overlay {
    position: relative; /* Sit on top of the page content */
    width: 500px; /* Full width (cover the whole page) */
    height: 80px; /* Full height (cover the whole page) */
    top: -96px;
    right: -400px;
    background-color: transparent; 
    z-index: 10; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
  }

.right-arrow-button
{
    position: relative;
    top: -47px;
    right: -740px;
    border-color: $base-white-color;
    background-color: $base-white-color;
    z-index: 11; /* Specify a stack order in case you're using a different order for other elements */
    border: none;
}
.left-arrow-button
{
    position: relative;
    top: -47px;
    right: -410px;
    border-color: $base-white-color;
    background-color: $base-white-color;
    z-index: 11; /* Specify a stack order in case you're using a different order for other elements */
    border: none;
}

.dark-header-button
{
    width: 147px;
    height: 36px;
    background-color: $base-white-color;
    border: solid 1px;
    color: $base-blue-color;
    display: flex;
    text-align: center;
    flex-direction: row;
    border-color: $base-blue-color;
    border-radius: 4px;
    border-width: 1px;    

}
.icon
{
    width: 20px;
    height: 20px;
    position: relative;
    top:5px;
    left:10px;
}
.dark-header-button-text
{
    font-family: Inter;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0%;
    position: relative;
    top:6px;
    left:14px;
}