<div id="outer-container">
    <div id="inner-container">
        <div id="logo"><img class="logo-svg" src="sportcast logo.svg"></div>
            <div class="navigation-bar">
                <div id="link-buttons">
                    <button id="-2" class="link-button" (click)="onNavigationClick($event)">Главная</button>
                    <button id="-1" class="link-button" (click)="onNavigationClick($event)">Расписание</button>
                    <button id="0" class="link-button" (click)="onNavigationClick($event)">Баскетбол</button>
                    <button id="1" class="link-button" (click)="onNavigationClick($event)">Футбол</button>
                    <button id="2" class="link-button" (click)="onNavigationClick($event)">Теннис</button>
                    <button id="3" class="link-button" (click)="onNavigationClick($event)">Хоккей</button>
                    <button id="4" class="link-button" (click)="onNavigationClick($event)">NFL</button>
                    <button id="5" class="link-button" (click)="onNavigationClick($event)">F1</button>
                </div>
            </div>
        <div id="medialinks-bar">
            <div><img src = "YT.svg"></div>
            <div><img src = "TG.svg"></div>
            <div><img src = "VK.svg"></div>
        </div>
    </div>
</div>
